* {
    box-sizing: border-box;
}

header {
    background-color: rgb(109, 129, 229);
    color: white;
    padding: 30px;
    margin-bottom: 20px;
}

nav {
    background-color: rgba(94, 237, 137, 0.66);
    color: rgb(14, 6, 6);
    padding: 30px;
    margin-bottom: 20px;
}

aside {
    background-color: rgb(255, 255, 153);
    color: rgb(14, 6, 6);
    padding: 30px;
    margin-bottom: 20px;    
}

main {
    background-color: rgb(0, 128, 128);
    color: white;
    padding: 30px;
    margin-bottom: 20px;
}

footer {
    color: black;
    text-align: right;
    margin-right: 20px;
}